
*.ide-wal
.vs/CaoLendario/v16/Server/sqlite3/storage.ide
.vs/CaoLendario/v16/Server/sqlite3/storage.ide-shm
.vs/CaoLendario/v16/Server/sqlite3/storage.ide-wal
.vs/CaoLendario/v16/Server/sqlite3/storage.ide
